<html>
    <head>
        <title>Login</title>
        <link href="styles/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <center>
        <section class="section-class">
        <h2>Iniciar Sesion</h2><br>
        <p>Nombre: <input type="text" name="correo"/></p><br>
        <p>Contraseña: <input type="text" name="contrasena"/></p><br>
        <button type="button">Entrar</button><br>
        </center>
        </section>
    </body>
</html>