<html>
    <head>
        <title>Registro</title>
        <link href="styles/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <section class="section-class">
        <center>
        <h2>Registrarse</h2><br>
        <HTML>

<br>
<html lang="en">
<head>
    <form>
  <meta charset="UTF-12">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>formulario</title>
  <link rel="stylesheet" href="stylesregister.css">


<Center> 
<p>Apellido Paterno</p>¤
<input type="text">

<Center> 
<p>Apellido Materno</p>¤
<input type="text">

<Center> 
<p>Nombre(s)</p>¤
<input type="text">

<Center> 
  <p>Numero de Telefono</p>¤
  <input type="number">

<Center> 
<p>Fecha de Nacimiento</p>¤
<input type="date">

<Center> 
<p>Usuario</p>¤
<input type="usuario">

<Center> 
<p>email</p>¤
<input type="email">

<Center>
<p>Contraseña</p>¤
<input type="password">

<Center>
<p>Pais</p>¤
<option value="MX">México</option>
</select>

<Center>
<p>Registro</p>

        <p>Pais : <select name="pais" id="pais">
            <option value="1">Mexico</option>
            <option value="2">Usa</option>
            <option value="3">Argentina</option>
          </select></p><br>
        <p>Estado: <select name="estado">
            <option value="no">Seleccione uno...</option>
            <option value="Aguascalientes">Aguascalientes</option>
            <option value="Baja California">Baja California</option>
            <option value="Baja California Sur">Baja California Sur</option>
            <option value="Campeche">Campeche</option>
            <option value="Chiapas">Chiapas</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="CDMX">Ciudad de México</option>
            <option value="Coahuila">Coahuila</option>
            <option value="Colima">Colima</option>
            <option value="Durango">Durango</option>
            <option value="Estado de México">Estado de México</option>
            <option value="Guanajuato">Guanajuato</option>
            <option value="Guerrero">Guerrero</option>
            <option value="Hidalgo">Hidalgo</option>
            <option value="Jalisco">Jalisco</option>
            <option value="Michoacán">Michoacán</option>
            <option value="Morelos">Morelos</option>
            <option value="Nayarit">Nayarit</option>
            <option value="Nuevo León">Nuevo León</option>
            <option value="Oaxaca">Oaxaca</option>
            <option value="Puebla">Puebla</option>
            <option value="Querétaro">Querétaro</option>
            <option value="Quintana Roo">Quintana Roo</option>
            <option value="San Luis Potosí">San Luis Potosí</option>
            <option value="Sinaloa">Sinaloa</option>
            <option value="Sonora">Sonora</option>
            <option value="Tabasco">Tabasco</option>
            <option value="Tamaulipas">Tamaulipas</option>
            <option value="Tlaxcala">Tlaxcala</option>
            <option value="Veracruz">Veracruz</option>
            <option value="Yucatán">Yucatán</option>
            <option value="Zacatecas">Zacatecas</option>
            
        </select></p><br>
        <p>Municipio: <select name="estado">
            <option value="no">Seleccione uno...</option>
            <option value="Aguascalientes">Aguascalientes</option>
            <option value="Asientos">Asientos</option>
            <option value="Calvillo">Calvillo</option>
            <option value="Cosio">Cosio</option>
            <option value="Jesus Maria">Jesus Maria</option>
            <option value="Pabellon De Arteaga">Pabellon de Arteaga</option>
            <option value="Rincon de Romos">Rincon de Romos</option>
            <option value="San Jose de Garcia">San Jose de Garcia</option>
            <option value="Tepezala">Tepezala</option>
            <option value="El Llano">El Llano</option>
            <option value="San Francisco de los Romo">San Francisco de los Romo</option>
            </select></p><br>
            <p><button type="button">Registrarse</button><br>
            <p>Ya cuenta con un usuario? inicie sesion <a href="./index.hbs">aqui </a></p><br>
        </center>
        </section>
        



        
    </body>
</html>